.container {
    width: 100%;
    max-width: var(--container);
    margin-inline: auto;
    padding-inline: 24px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 22px;
    border-radius: 5px;
    font-size: var(--fs-sm);
    font-weight: 600;
    transition: background var(--t-base), color var(--t-base), border-color var(--t-base), transform var(-t-fast);
}

.btn:active {
    transform: translateY(1px);
}

.btn--primary {
    background-color: var(--secondary);
    color: #fff;
}

.btn--secondary {
    background-color: transparent;
    padding: 20px;
    border: 2px solid;
    color: var(--dark);
    border-radius: var(--radius-menor);
    border-color: var(--primary);
}